python-telegram-bot==12.8
cloudmersive_ocr_api_client
xlsxwriter
pymongo
git+https://github.com/rthalley/dnspython
GitPython
requests
pysocks
tgcrypto
apscheduler
PyMuPDF
pytube
moviepy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client
pyrogram
pypdf2
cloudinary